# Auto detect text files and perform LF normalization
* text eol=lf

# These settings are for any web project

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
# * text=auto
# NOTE - originally I had the above line un-commented.  it caused me a lot of grief related to line endings because I was dealing with WordPress plugins and the website changing line endings out if a user modified a plugin through the web interface.  commenting this line out seems to have alleviated the git chaos where simply switching to a branch caused it to believe 500 files were modified.

#
# The above will handle all files NOT found below
#

#
## These files are text and should be normalized (Convert crlf => lf)
#

# source code
*.php text
*.css text linguist-vendored
*.sass text
*.scss text
*.less text
*.styl text
*.stylus text
*.pcss text
*.sss text
*.js text linguist-vendored
*.coffee text
*.json text linguist-vendored
*.htm text linguist-vendored
*.html text linguist-vendored
*.xml text linguist-vendored
*.svg text linguist-vendored
*.txt text
*.ini text
*.inc text
*.pl text
*.rb text
*.py text
*.scm text
*.sql text
*.sh text
*.bat text
*.ts text
*.tsx text
*.jsx text linguist-vendored
*.vue text

# templates
*.ejs text
*.hbt text
*.jade text
*.haml text
*.hbs text
*.dot text
*.tmpl text
*.phtml text

# server config
.htaccess text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.jshintrc text
.jscsrc text
.jshintignore text
.csslintrc text

# misc config
*.yaml text
*.yml text
.editorconfig text
.code-snippets text

# build config
*.npmignore text
*.bowerrc text

# Heroku
Procfile text
.slugignore text

# Documentation
*.md text
LICENSE text
AUTHORS text

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)

# images
*.png binary
*.jpg binary
*.jpeg binary
*.jpe binary
*.jfif binary
*.pjpeg binary
*.pjp binary
*.gif binary
*.ico binary
*.webp binary
*.tif binary
*.tiff binary
*.bmp binary
*.avif binary

# media
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.wmv binary
*.wav binary
*.wma binary
*.m4a binary
*.aac binary
*.ogg binary
*.ape binary
*.flac binary
*.webm binary

# zips
*.gz binary
*.zip binary
*.7z binary
*.rar binary

# fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.otf binary

# other
*.pdf binary

