@import "./eases";

*,
*::before,
*::after {
	transition: all $ease-out-max 250ms, color $ease-out-max 100ms, fill $ease-out-max 100ms;
	font-family: "Segoe UI", "Microsoft Yahei UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	box-sizing: border-box;
}

*:focus,
*:focus-visible {
	outline: none !important;
}

html,
body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
	overflow: hidden;
	transition: none !important;
}
