// stylelint-disable order/order

@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "../../assets/styles/theme/colors";
@use "../../assets/styles/theme/functions" as *;
@use "../../assets/styles/theme/internal" as *;

$accent-colors: accent-10;
$state-colors: accent, accent-rgb, accent-shadow-rgb, accent-hover, accent-focus, accent-focus-rgb, accent-pressed;
$neutral-colors: main-bg-rgb;

$pink: map.get(colors.$primary-colors, pink);

@function get-key($tkey) {
	$suffix-index: string.index($tkey, -rgb);
	$key: if(not $suffix-index, $tkey, string.slice($tkey, 1, $suffix-index - 1));
	@return $key;
}

@mixin use-color($tkey, $color, $is-light) {
	$key: get-key($tkey);
	$is-rgb-list: $tkey != $key;
	
	$result: list.nth($color, if($is-light, 1, 2));
	
	@if not $is-rgb-list {
		--#{$key}: #{$result};
	} @else {
		--#{$tkey}: #{color-to-rgb-list($result)};
	}
}

@mixin definition($is-light) {
	@each $tkey in $accent-colors {
		$key: get-key($tkey);
		@include use-color($tkey, map.get($pink, $key), $is-light);
	}

	@each $tkey in $state-colors {
		$key: get-key($tkey);
		@include use-color($tkey, map.get($pink, map.get(colors.$state-colors, $key)), $is-light);
	}

	@each $tkey in $neutral-colors {
		$key: get-key($tkey);
		@include use-color($tkey, map.get(colors.$neutral-colors, $key), $is-light);
	}

	@include wave-link(true, map.get($pink, map.get(colors.$state-colors, accent-hover)), $is-light);
}

:root {
	@include definition(true);

	@media (prefers-color-scheme: dark) {
		@include definition(false);
	}
}
