@use "functions" as *;
@use "sass:map";

// 灰阶类颜色
$grayscale-colors: (
	gray-90: (#000, #fff),
	gray-80: (#212121, #fafafa),
	gray-70: (#333, #e9e9e9),
	gray-60: (#4d4d4d, #ccc),
	gray-50: (#808080, #909090),
	gray-40: (#ccc, #4d4d4d),
	gray-30: (#e9e9e9, #333),
	gray-20: (#fafafa, #212121),
	gray-10: (#fff, #000),
);

// 中性色
// 此处的颜色各主题色均通用。
$neutral-colors: (
	main-bg: (white, #171414),
	main-fg: (black, white),
	inset-bg: (c(black, 2%), c(white, 6%)),
	acrylic-bg: (#fafafa, #222),
	icon-color: (#797173, #e5e4e4),
	divider: #505050,
	text-color: map.get($grayscale-colors, gray-80),
);

// 如果定义为列表，则第一项为浅色主题颜色，第二项为深色主题颜色。
// 如果定义为单个颜色，则自动识别为浅色主题颜色，深色主题颜色通过反转亮度自动计算得出。
// 如果不想让它反转亮度，请定义为列表，并将列表两项设为相同的颜色。

// 主要主题色
// 此处的颜色根据主题色自动变换。
$primary-colors: (
	pink: (
		accent-80: (#a23b57, #ffd3de),
		accent-70: (#b64561, #f8afc1),
		accent-60: (#cc5775, #f390a9), // pressed
		accent-50: (#f06e8e, #f06e8e), // normal
		accent-40: (#f390a9, #cc5775), // hover
		accent-30: (#f8afc1, #b64561), // focus
		accent-20: (#ffd3de, #802f45), // disabled
		accent-10: (#ffedf2, #752b3f),
		neutral-10: #c19fa8, // card-shadow
	),
	sky: (
		accent-80: (#3a82a1, #c4ebfc),
		accent-70: (#4593b5, #93dbfa),
		accent-60: (#57a9cb, #73caef),
		accent-50: (#45b3e1, #45b3e1),
		accent-40: (#73caef, #57a9cb),
		accent-30: (#93dbfa, #4593b5),
		accent-20: (#c4ebfc, #367894),
		accent-10: (#e8f8ff, #2f6b85),
		neutral-10: #9fb7c1,
	),
	blue: (
		accent-80: (#2e599e, #c4dafc),
		accent-70: (#3665b2, #93bbfa),
		accent-60: (#3874d3, #73a3ef),
		accent-50: (#4581e1, #4581e1),
		accent-40: (#73a3ef, #3874d3),
		accent-30: (#93bbfa, #3665b2),
		accent-20: (#c4dafc, #2a518f),
		accent-10: (#e8f1ff, #264a82),
		neutral-10: #9fadc1,
	),
	green: (
		accent-80: (#427a34, #c5fab8),
		accent-70: (#4a893b, #91e57c),
		accent-60: (#4a9f35, #64cd4a),
		accent-50: (#4bb530, #4bb530),
		accent-40: (#64cd4a, #4a9f35),
		accent-30: (#91e57c, #4a893b),
		accent-20: (#c5fab8, #37652c),
		accent-10: (#ebffe6, #294d20),
		neutral-10: #99b191,
	),
	orange: (
		accent-80: (#a67109, #ffe6b3),
		accent-70: (#bf8105, #f7c86a),
		accent-60: (#d48e00, #f9b939),
		accent-50: (#f9a400, #f9a400),
		accent-40: (#f9b939, #d48e00),
		accent-30: (#f7c86a, #bf8105),
		accent-20: (#ffe6b3, #986909),
		accent-10: (#fff6e6, #6f4d07),
		neutral-10: #b9ab90,
	),
	purple: (
		accent-80: (#7b3f91, #f3d3ff),
		accent-70: (#8845a0, #e2adf5),
		accent-60: (#9a46b9, #cf82ec),
		accent-50: (#bb35ea, #bb35ea),
		accent-40: (#cf82ec, #9a46b9),
		accent-30: (#e2adf5, #9a46b9),
		accent-20: (#f3d3ff, #572a68),
		accent-10: (#faedff, #592e69),
		neutral-10: #a989b6,
	),
);

// 次要主题色
// 此处的颜色各主题色均保持固定不变。
$secondary-colors: (
	red: #dd1818,
	yellow: #ffca2c,
);

@each $palette, $accents in $primary-colors {
	$secondary-colors: map.set($secondary-colors, $palette, map.get($accents, accent-50));
}

// 各状态所用颜色值
$state-colors: (
	accent: accent-50,
	accent-hover: accent-40,
	accent-focus: accent-30,
	accent-pressed: accent-60,
	accent-disabled: accent-20,
	accent-shadow: neutral-10,
);
