@use "functions" as *;
@use "private" as *;

// #region 圆角
/// 大卡片/缩略图。
/// 使用 6px 大小的圆角。
/// @param {String} $position [full] - 圆角的位置。
/// @output border-radius
@mixin radius-large($position: full) {
	@include set-border-radius(6px, $position);
}

/// 按钮/控制组件。
/// 使用 4px 大小的圆角。
/// @param {String} $position [full] - 圆角的位置。
/// @output border-radius
@mixin radius-small($position: full) {
	@include set-border-radius(4px, $position);
}
// #endregion

// #region 中性色
/// 控制球阴影 关闭
@mixin control-ball-shadow-off {
	box-shadow: 0 1px 6px c(accent-shadow, 50%);
}

@mixin control-ball-shadow-off-disabled {
	box-shadow: 0 1px 6px c(black, 10%);
}

@mixin control-ball-shadow-off-hover {
	box-shadow: 0 1px 10px 2px c(black, 20%);
}

@mixin page-normal {
	box-shadow: 0 2px 4px c(black, 10%);
}

@mixin control-inner-shadow {
	box-shadow: inset 0 4px 4px c(black, 4%);
}

@mixin button-shadow-unchecked-focus {
	// box-shadow: 0 4px 4px c(unchecked, 30%), 0 0 0 3px c(unchecked-focus, 50%);
	box-shadow: 0 4px 4px c(accent-shadow, 30%), 0 0 0 3px c(gray-2, 50%);
}

@mixin large-shadow-unchecked-focus {
	// box-shadow: 0 4px 4px c(unchecked, 30%), 0 0 0 10px c(unchecked-focus, 50%);
	box-shadow: 0 1px 6px c(accent-shadow, 30%), 0 0 0 10px c(gray-2, 50%);
}

@mixin button-shadow-unchecked-focus-only {
	box-shadow: 0 0 0 3px c(gray-2, 50%);
}

@mixin button-shadow-unchecked-hover {
	box-shadow: 0 4px 4px c(accent-shadow, 30%);
}

@mixin button-shadow-unchecked-hover-focus {
	box-shadow: 0 9px 9px c(accent-shadow, 30%), 0 0 0 3px c(gray-2, 50%);
}
// #endregion

// #region 主题色
@mixin button-shadow {
	box-shadow: 0 4px 4px c(accent, 30%);
}

@mixin button-shadow-hover {
	box-shadow: 0 9px 9px c(accent, 30%);
}

@mixin button-shadow-focus {
	box-shadow: 0 4px 4px c(accent, 30%), 0 0 0 3px c(accent-focus, 50%);
}

@mixin button-shadow-hover-focus {
	box-shadow: 0 9px 9px c(accent, 30%), 0 0 0 3px c(accent-focus, 50%);
}

@mixin large-shadow-focus {
	box-shadow: 0 1px 6px c(accent, 30%), 0 0 0 10px c(accent-focus, 50%);
}

@mixin button-shadow-focus-only {
	box-shadow: 0 0 0 3px c(accent-focus, 50%);
}

@mixin button-scale-active {
	scale: calc(35 / 36);
	box-shadow: none !important;
}

@mixin sidebar-shadow {
	box-shadow: 0 0 24px c(accent, 30%);
}

@mixin card-shadow {
	box-shadow: 0 5px 10px c(accent-shadow, 30%);
}

@mixin card-shadow-with-blur {
	@include card-shadow;
	backdrop-filter: blur(16px);
}

@mixin player-shadow {
	box-shadow: 0 2px 8px c(accent-shadow, 20%);
}

/// 控制球阴影
@mixin control-ball-shadow {
	box-shadow: 0 1px 6px c(accent, 80%);
}

@mixin control-ball-shadow-disabled {
	box-shadow: 0 1px 6px c(accent-disabled, 80%);
}

@mixin control-ball-shadow-hover {
	box-shadow: 0 1px 10px 2px c(accent-hover);
}

@mixin page-active {
	box-shadow: 0 2px 4px c(accent, 60%);
}

@mixin system-card {
	box-shadow: 0 8px 16px c(accent-shadow, 30%);
	backdrop-filter: blur(32px);
}

@mixin dropdown-flyouts {
	box-shadow: 0 8px 16px c(accent-shadow, 50%);
	backdrop-filter: blur(16px);
}

@mixin chip-shadow {
	box-shadow: 0 2px 4px c(accent-shadow, 30%);
}

@mixin card-in-card-shadow {
	box-shadow: 0 2px 8px c(accent-shadow, 8%);
}
// #endregion
