@use "eases" as *;

// #region 响应式布局
$mobile-max-width: 639px;
$tablet-max-width: 991px;
// #endregion

// #region 过渡动画
$fallback-transitions: all $ease-out-expo 250ms, color $ease-out-expo 100ms, fill $ease-out-expo 100ms;
// #endregion

// #region 字体
$pan-unicode-fonts: TH-Times, "TH-Tshyn-P0", "TH-Tshyn-P1", "TH-Tshyn-P2", "TH-Tshyn-P16", "Arial Unicode MS", Unifont, "Unifont Upper";
$emoji-fonts: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", emoji;
$fallback-fonts: "Microsoft YaHei", "Microsoft JhengHei", SimHei, sans-serif, $emoji-fonts, $pan-unicode-fonts;
$english-fonts: -apple-system, BlinkMacSystemFont, "Inter Variable", "SF Pro Text", "Segoe UI Variable Text", "Segoe UI", "Roboto Flex", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Tahoma, Geneva, Verdana, "Helvetica Neue", Helvetica, Arial/* , Monu */;
$schinese-fonts: $english-fonts, "PingFang SC", "HarmonyOS Sans SC", MiSans, "Noto Sans CJK SC", "Source Han Sans SC", $fallback-fonts;
$tchinese-fonts: $english-fonts, "PingFang TC", "Noto Sans CJK TC", "Source Han Sans TC", "Microsoft JhengHei", $fallback-fonts;
$japanese-fonts: $english-fonts, "Yu Gothic UI", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro W3", "Meiryo UI", "MS UI Gothic", "Noto Sans CJK JP", "Source Han Sans", $fallback-fonts;
$korean-fonts: $english-fonts, "Apple SD Gothic Neo Regular", "Noto Sans CJK KR", "Source Han Sans K", "Malgun Gothic", $fallback-fonts;
$english-logo-fonts: Montserrat, "SF Pro Display", $english-fonts, $fallback-fonts;
$monospace-fonts: "Cascadia Code", "JetBrains Mono", Consolas, "SF Mono", monospace;
// #endregion

// #region 渐变
$hue-radial: conic-gradient(from 90deg at center, red 0deg, yellow 60deg, lime 120deg, cyan 180deg, blue 240deg, magenta 300deg, red 360deg);
$luminance-radial: radial-gradient(closest-side, white 0%, #fff0 100%);
$-sixth: calc(100% / 6);
$hue-linear: linear-gradient(to right, red 0%, yellow $-sixth, lime $-sixth * 2, cyan $-sixth * 3, blue $-sixth * 4, magenta $-sixth * 5, red 100%);
// #endregion

/// 侧边栏宽度。
$sidebar-width: 48px;
$mobile-toolbar-height: 56px;
/// 菜单边距。
$menu-padding: 6px;
