@use "eases" as *;

// #region 响应式布局
$mobile-max-width: 575px;
$tablet-max-width: 991px;
// #endregion

// #region 过渡动画
$fallback-transitions: all $ease-out-expo 250ms, color $ease-out-expo 100ms, fill $ease-out-expo 100ms;
// #endregion

// #region 字体
$pan-unicode-fonts: TH-Times, "TH-Tshyn-P0", "TH-Tshyn-P1", "TH-Tshyn-P2", "TH-Tshyn-P16", "Arial Unicode MS", Unifont, "Unifont Upper";
$emoji-fonts: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", emoji;
$fallback-fonts: "Microsoft YaHei", "Microsoft JhengHei", SimHei, sans-serif, $emoji-fonts, $pan-unicode-fonts;
$english-fonts: -apple-system, BlinkMacSystemFont, Inter, "SF Pro Text", "Segoe UI Variable Display", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Tahoma, Geneva, Verdana, "Helvetica Neue", Helvetica, Arial;
$chinese-fonts: $english-fonts, "HarmonyOS Sans SC", "MiSans", "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Source Han Sans CN", "Source Han Sans SC", $fallback-fonts;
$japanese-fonts: $english-fonts, "Yu Gothic UI", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro W3", "Meiryo UI", "MS UI Gothic", "Noto Sans CJK JP", "Noto Sans JP", "Source Han Sans JP", $fallback-fonts;
$english-logo-fonts: Montserrat, "SF Pro Display", $english-fonts, $fallback-fonts;
$monospace-fonts: "Cascadia Code", "JetBrains Mono", Consolas, "SF Mono", monospace;
// #endregion

/// 侧边栏宽度。
$sidebar-width: 48px;
/// 菜单边距。
$menu-padding: 6px;
