@use "eases" as *;

// #region 响应式布局
$mobile-max-width: 639px;
$tablet-max-width: 991px;
// #endregion

// #region 过渡动画
$fallback-transitions: all $ease-out-expo 250ms, color $ease-out-expo 100ms, fill $ease-out-expo 100ms;
// #endregion

// #region 字体
// Using Source Han Sans series fonts first to provide a consistent experience.
// The `lang` tag will automatically switch regional glyphs, so there is no need to worry about glyph mismatch issues.
$shs-kr: "Source Han Sans K VF","Noto Sans CJK KR","Source Han Sans K";
$shs-jp: "Source Han Sans VF","Noto Sans CJK JP","Source Han Sans";
$shs-sc: "Source Han Sans SC VF","Noto Sans CJK SC","Source Han Sans SC";
$shs-hk: "Source Han Sans HC VF","Noto Sans CJK HK","Source Han Sans HC";
$shs-tc: "Source Han Sans TC VF","Noto Sans CJK TC","Source Han Sans TC";
$shs-fonts: $shs-kr, $shs-jp, $shs-sc, $shs-hk, $shs-tc;
$emoji-fonts: "Apple Color Emoji", "Noto Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Segoe UI Symbol", emoji;
// 回退顺序：天珩全字库 - 花园明朝 - 字云 - BabelStone Han - 宋体扩展字符集 - 细明体扩展字符集 - 全字库正宋体 - Unifont
$pan-unicode-fonts: "MiSans L3", "HYZhongHei L3", "HYZhongHeiTi-ExtBCDEFG", TH-Times, "TH-Tshyn-P0", "TH-Tshyn-P1", "TH-Tshyn-P2", "TH-Tshyn-P16", HanaMinA, HanaMinB, Jigmo, Jigmo2, Jigmo3, "BabelStone Han",  SimSun-ExtB, PMingLiU-ExtB, MingLiU-ExtB, MingLiU_HKSCS-ExtB, TW-Sung, TW-Sung-Ext-B, TW-Sung-Plus, Unifont, "Unifont Upper";
$fallback-fonts: "Microsoft JhengHei", sans-serif, $emoji-fonts, $pan-unicode-fonts;
$english-fonts: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI Variable Text", "Roboto Flex", "Inter Variable", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Tahoma, Geneva, Verdana, "Helvetica Neue", Helvetica, Arial/* , Monu */;
$schinese-fonts: $english-fonts, "PingFang SC", $shs-sc, $shs-fonts, "Hiragino Sans GB", "Microsoft YaHei", "SimSun", $fallback-fonts;
$tchinese-fonts: $english-fonts, "PingFang TC", $shs-tc, $shs-fonts, "Hiragino Sans CNS", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", "Microsoft JhengHei", "MingLiU", $fallback-fonts;
$japanese-fonts: $english-fonts, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", "Hiragino Sans CNS", $shs-jp, $shs-fonts, "Yu Gothic", "Meiryo", "MS Gothic", $fallback-fonts;
$korean-fonts: $english-fonts, "Apple SD Gothic Neo", $shs-kr, $shs-fonts, "Malgun Gothic", "Dotum", $fallback-fonts;
$english-logo-fonts: Montserrat, "SF Pro Display", $english-fonts, $fallback-fonts;
$monospace-fonts: "Cascadia Code", "JetBrains Mono", Consolas, "SF Mono", monospace;
// #endregion

// #region 渐变
$hue-radial: conic-gradient(from 90deg at center, red 0deg, yellow 60deg, lime 120deg, cyan 180deg, blue 240deg, magenta 300deg, red 360deg);
$luminance-radial: radial-gradient(closest-side, white 0%, #fff0 100%);
$-sixth: calc(100% / 6);
$hue-linear: linear-gradient(to right, red 0%, yellow $-sixth, lime $-sixth * 2, cyan $-sixth * 3, blue $-sixth * 4, magenta $-sixth * 5, red 100%);
// #endregion

/// 侧边栏宽度
$sidebar-width: 48px;

/// 移动端标题栏和导航栏高度
$mobile-toolbar-height: 56px;

/// 横幅高度
$banner-height: 10rem;

/// 菜单边距
$menu-padding: 6px;

// #region 页面水平方向边距
$page-padding-x: 5dvw;
$page-padding-x-tablet: 24px;
$page-padding-x-mobile: 16px;
// #endregion
