// stylelint-disable property-no-unknown

@import "./eases";

:export {
	linear: $linear;
	linear-approach: $linear-approach;
	ease: $ease;
	ease-in: $ease-in;
	ease-in-quad: $ease-in-quad;
	ease-in-cubic: $ease-in-cubic;
	ease-in-quart: $ease-in-quart;
	ease-in-quint: $ease-in-quint;
	ease-in-sine: $ease-in-sine;
	ease-in-expo: $ease-in-expo;
	ease-in-circ: $ease-in-circ;
	ease-in-back: $ease-in-back;
	ease-in-max: $ease-in-max;
	ease-in-smooth: $ease-in-smooth;
	ease-out: $ease-out;
	ease-out-quad: $ease-out-quad;
	ease-out-cubic: $ease-out-cubic;
	ease-out-quart: $ease-out-quart;
	ease-out-quint: $ease-out-quint;
	ease-out-sine: $ease-out-sine;
	ease-out-expo: $ease-out-expo;
	ease-out-circ: $ease-out-circ;
	ease-out-back: $ease-out-back;
	ease-out-max: $ease-out-max;
	ease-out-smooth: $ease-out-smooth;
	ease-in-out: $ease-in-out;
	ease-in-out-quad: $ease-in-out-quad;
	ease-in-out-cubic: $ease-in-out-cubic;
	ease-in-out-quart: $ease-in-out-quart;
	ease-in-out-quint: $ease-in-out-quint;
	ease-in-out-sine: $ease-in-out-sine;
	ease-in-out-expo: $ease-in-out-expo;
	ease-in-out-circ: $ease-in-out-circ;
	ease-in-out-back: $ease-in-out-back;
	ease-in-out-max: $ease-in-out-max;
	ease-in-out-smooth: $ease-in-out-smooth;
}
