// stylelint-disable property-no-unknown
// stylelint-disable property-case

:export {
	linear: $linear;
	ease: $ease;
	easeIn: $ease-in;
	easeOut: $ease-out;
	easeInOut: $ease-in-out;
	easeInQuad: $ease-in-quad;
	easeInCubic: $ease-in-cubic;
	easeInQuart: $ease-in-quart;
	easeInQuint: $ease-in-quint;
	easeInSine: $ease-in-sine;
	easeInExpo: $ease-in-expo;
	easeInCirc: $ease-in-circ;
	easeInBack: $ease-in-back;
	easeOutQuad: $ease-out-quad;
	easeOutCubic: $ease-out-cubic;
	easeOutQuart: $ease-out-quart;
	easeOutQuint: $ease-out-quint;
	easeOutSine: $ease-out-sine;
	easeOutExpo: $ease-out-expo;
	easeOutCirc: $ease-out-circ;
	easeOutBack: $ease-out-back;
	easeInOutQuad: $ease-in-out-quad;
	easeInOutCubic: $ease-in-out-cubic;
	easeInOutQuart: $ease-in-out-quart;
	easeInOutQuint: $ease-in-out-quint;
	easeInOutSine: $ease-in-out-sine;
	easeInOutExpo: $ease-in-out-expo;
	easeInOutCirc: $ease-in-out-circ;
	easeInOutBack: $ease-in-out-back;
	easeInMax: $ease-in-max;
	easeOutMax: $ease-out-max;
	easeInOutMax: $ease-in-out-max;
}
