// stylelint-disable property-no-unknown
// stylelint-disable declaration-block-no-duplicate-properties

@layer base, theme, layout, props, utilities, components, special;

*,
::before,
::after {
	box-sizing: border-box;
	margin-block: 0;
	margin-inline: 0;
	scroll-behavior: smooth;
	font-family: $simplified-chinese-fonts;
	// font-feature-settings: "ss02" on, "ss01" on, "liga" on, "rlig" on, "dlig" on, "hlig" on, "onum" on, "kern" on; // 开多了有点过分了。
	font-feature-settings: "ss03" on; // 圆形的逗号、引号。
	font-kerning: normal;
	// font-variant-east-asian: proportional-width; // 苹方会恶意将全角逗号、冒号、分号等错误地变成半宽，但句号和顿号却莫名其妙地保持不变。
	font-variant-ligatures: common-ligatures historical-ligatures contextual;
	font-variant-numeric: proportional-nums;
	white-space-collapse: collapse;
	white-space-collapse: discard;
	text-space-collapse: discard;
	text-spacing: normal;
	text-rendering: optimizeLegibility;
	tab-size: 4;
	user-select: none;
	transition: $fallback-transitions;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// -webkit-tap-highlight-color: c(accent, 30%); // 我还是觉得这个触摸样式很丑。
	-webkit-tap-highlight-color: transparent;
}

:lang(zh-Hant) {
	&,
	&::before,
	&::after {
		font-family: $traditional-chinese-taiwan-fonts;
	}
}

:lang(yue) {
	&,
	&::before,
	&::after {
		font-family: $traditional-chinese-hongkong-fonts;
	}
}

:lang(ja) {
	&,
	&::before,
	&::after {
		font-family: $japanese-fonts;
	}
}

:lang(ko) {
	&,
	&::before,
	&::after {
		font-family: $korean-fonts;
	}
}

code,
pre,
kbd,
samp,
tt,
xmp {
	&,
	* {
		font-family: $monospace-fonts !important;
	}
}

:focus,
:focus-visible {
	outline: none !important;
}

html,
body {
	scrollbar-gutter: stable; // WARN: Chromium 114 开始，overflow 的 overlay 成了 auto 的别名，因此只能提前占位显示来确保不晃动。目前甚至 Chromium 自己的设置页都在依赖于 overlay，太荒谬了。https://bugs.chromium.org/p/chromium/issues/detail?id=1450927
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	color: c(text-color);
	background-color: c(main-bg);
	transition: background-color $ease-out-max 250ms;
}

a {
	cursor: pointer !important;
}

[hidden] {
	display: none !important;
}

time {
	font-variant-numeric: tabular-nums;
}

.no-scroll {
	overflow: hidden !important;
}

iframe.noscript-mask {
	@include fullscreen;
	z-index: 100;
	border: none;

	+ form {
		position: fixed;
		right: 32px;
		bottom: 32px;
		z-index: 101;
		animation: noscript-refresh-enter 500ms 1s $ease-out-smooth both;

		button {
			@include square(96px);
			@include circle;
			@include button-shadow;
			color: white;
			font-size: 48px;
			background-color: c(accent);

			&::after {
				content: "↻";
				display: block;
				animation: noscript-refresh-rotation 1s linear infinite paused;
			}

			&:any-hover {
				@include button-shadow-hover;
				background-color: c(accent-hover);

				&::after {
					animation-play-state: running;
				}
			}

			&:any-hover:focus-visible {
				@include button-shadow-hover-focus;
			}

			&:active {
				@include button-scale-pressed;
				background-color: c(accent-pressed);
			}

			&:focus-visible {
				@include button-shadow-focus;
			}
		}
	}
}

@keyframes noscript-refresh-enter {
	from {
		scale: 0;
	}
}

@keyframes noscript-refresh-rotation {
	to {
		rotate: 1turn;
	}
}

kira-component {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

hr {
	border: none;
	border-top: c(divider, 10%) 1px solid;
}

::selection {
	color: white;
	background-color: c(accent); // WARN: Chromium 111 开始在 `::selection` 设定 `var()` 都会失效。包括 GitHub 和 Edge 的开发工具在内都有这种显示问题。https://bugs.chromium.org/p/chromium/issues/detail?id=1429546
}

#popovers {
	display: contents;
}

// stylelint-disable-next-line selector-class-pattern
.vue-recycle-scroller__item-view {
	transition: none;
}

label {
	@include hide-if-empty;
	display: block;

	&.details {
		color: c(icon-color);
		font-size: 12px;
	}
}

img {
	display: block;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

@layer base {
	#popovers > * {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 35;
	}
}

// 用户请求削弱动态效果。
@media (prefers-reduced-motion: reduce) {
	@include enhanced-selector {
		transition-duration: 0s !important;
		animation-duration: 0s !important;
	}
}

// 直角样式
html.sharp {
	@include enhanced-selector {
		border-radius: 0 !important;
	}
}

// 扁平样式
html.flat {
	@include enhanced-selector {
		box-shadow: none !important;
	}
}

// 移除颜色过渡。
html.no-color-transition {
	@include enhanced-selector {
		transition: $fallback-transitions, color 0s, background 0s, fill 0s, border-color 0s, filter 0s !important;
	}
}

// #region 主题过渡
::view-transition-old(root),
::view-transition-new(root) {
	mix-blend-mode: normal;
	animation: none;
}

::view-transition-old(root),
.dark.changing-theme::view-transition-new(root) {
	z-index: 1;
}

::view-transition-new(root),
.dark.changing-theme::view-transition-old(root) {
	z-index: calc(infinity);
}
// #endregion

// #region 页面过渡
.page-forward-enter-active,
.page-backward-enter-active,
.settings-enter-active,
.right-enter-active,
.left-enter-active {
	transition: all $ease-out-smooth 600ms !important;
}

.page-jump-enter-active {
	@media not (prefers-reduced-motion: reduce) {
		> * {
			$length: 20;
			transition: all $ease-out-smooth !important;
			transition-duration: (600ms + 50ms * ($length - 1)) !important;
			transition-delay: (10ms * ($length - 1)) !important;

			@for $i from 1 through $length {
				&:nth-child(#{$i}) {
					transition-duration: (600ms + 50ms * ($i - 1)) !important;
					transition-delay: (10ms * ($i - 1)) !important;
				}
			}
		}
	}
}

.page-forward-leave-active,
.page-backward-leave-active,
.page-jump-leave-active,
.settings-leave-active,
.right-leave-active,
.left-leave-active {
	transition: all $ease-in-expo 100ms !important;
}

.settings-enter-active,
.settings-leave-active {
	max-height: 100dvh;
	overflow: clip;
}

.page-forward-enter-from,
.page-backward-leave-to {
	translate: 8rem;
	opacity: 0;
}

.page-forward-leave-to,
.page-backward-enter-from {
	translate: -2rem;
	opacity: 0;
}

.page-jump-enter-from {
	> * {
		translate: 0 8rem;
		opacity: 0;
	}
}

.page-jump-leave-to {
	translate: 0 -2rem;
	opacity: 0;
}

.settings-leave-to,
.settings-enter-from {
	opacity: 0;

	@at-root {
		main#{&} {
			scale: 0.9;
		}
	}

	&.settings {
		scale: 1.1;
	}
}

.right-enter-from,
.left-leave-to {
	translate: 2rem;
	opacity: 0;
}

.right-leave-to,
.left-enter-from {
	translate: -2rem;
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: all $ease-in-expo 250ms !important;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
// #endregion
