// stylelint-disable property-no-unknown
// stylelint-disable declaration-block-no-duplicate-properties

@layer base, theme, layout, props, utilities, components, special;

*,
::before,
::after {
	box-sizing: border-box;
	font-family: $chinese-fonts;
	// font-feature-settings: "ss02" on, "ss01" on, "liga" on, "rlig" on, "dlig" on, "hlig" on, "onum" on, "kern" on;
	font-variant-east-asian: proportional-width;
	font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
	font-variant-numeric: oldstyle-nums;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	tab-size: 4;
	transition: $fallback-transitions;
	user-select: none;
	// -webkit-tap-highlight-color: c(accent, 30%); // 我还是觉得这个触摸样式很丑。
	-webkit-tap-highlight-color: transparent;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	white-space-collapse: collapse;
	white-space-collapse: discard;
	text-space-collapse: discard;
	text-spacing: normal;
}

:lang(ja) {
	&,
	&::before,
	&::after {
		font-family: $japanese-fonts;
	}
}

kbd,
code,
pre,
samp,
tt {
	&,
	* {
		font-family: $monospace-fonts;
	}
}

:focus,
:focus-visible {
	outline: none !important;
}

body {
	@include fullscreen(relative);
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: c(text-color);
	font-size: 14px;
	background-color: c(main-bg);
	transition: background-color $ease-out-max 250ms;
}

a {
	cursor: pointer !important;
}

[hidden] {
	display: none !important;
}

.no-scroll {
	overflow: hidden !important;
}

iframe.noscript-mask {
	@include fullscreen;
	z-index: 100;
	border: none;
}

kira-component {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

::selection {
	color: white;
	background-color: c(accent); // WARN: Chromium 111 开始在 `::selection` 设定 `var()` 都会失效。包括 GitHub 和 Edge 的开发工具在内都有这种显示问题。https://bugs.chromium.org/p/chromium/issues/detail?id=1429546
}

#popovers {
	display: contents;
}

// stylelint-disable-next-line selector-class-pattern
.vue-recycle-scroller__item-view {
	transition: none;
}

@layer base {
	#popovers > * {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 31;
	}
}

// 用户请求削弱动态效果。
@media (prefers-reduced-motion: reduce) {
	@include enhanced-selector {
		transition-duration: 0s !important;
		animation-duration: 0s !important;
	}
}

// 直角样式
html.sharp {
	@include enhanced-selector {
		border-radius: 0 !important;
	}
}

// 扁平样式
html.flat {
	@include enhanced-selector {
		box-shadow: none !important;
	}
}

// #region 页面过渡
.page-forward-enter-active,
.page-backward-enter-active,
.page-jump-enter-active,
.settings-enter-active,
.right-enter-active,
.left-enter-active {
	transition: all $ease-out-smooth 600ms !important;
}

.page-forward-leave-active,
.page-backward-leave-active,
.page-jump-leave-active,
.settings-leave-active,
.right-leave-active,
.left-leave-active {
	transition: all $ease-in-expo 100ms !important;
}

.settings-enter-active,
.settings-leave-active {
	max-height: 100dvh;
	overflow: hidden;
}

.page-forward-enter-from,
.page-backward-leave-to {
	opacity: 0;
	translate: 8rem;
}

.page-forward-leave-to,
.page-backward-enter-from {
	opacity: 0;
	translate: -2rem;
}

.page-jump-enter-from {
	opacity: 0;
	translate: 0 8rem;
}

.page-jump-leave-to {
	opacity: 0;
	translate: 0 -2rem;
}

.settings-leave-to,
.settings-enter-from {
	opacity: 0;

	@at-root {
		main#{&} {
			scale: 0.9;
		}
	}

	&.settings {
		scale: 1.1;
	}
}

.right-enter-from,
.left-leave-to {
	opacity: 0;
	translate: 2rem;
}

.right-leave-to,
.left-enter-from {
	opacity: 0;
	translate: -2rem;
}
// #endregion
