@use "theme/colors" as *;
@use "theme/private" as *;

// 下面的内容是根据 Sass 映射自动转换为 CSS 属性的逻辑代码，不用动。

@for $i from 1 through 2 {
	$is-light: $i == 1;
	$selector: if($is-light, ":root", ":root.dark");

	#{$selector} {
		color-scheme: if($is-light, light, dark);

		@for $j from 1 through 2 {
			$is-rgb-list: $j == 2;

			@each $colors in $neutral-colors, $secondary-colors, $grayscale-colors {
				@each $key, $color in $colors {
					@include hex-or-rgb-color($key, $color, $is-light, $is-rgb-list);
				}
			}

			@if $is-light {
				@each $state, $color in $state-colors {
					@if not $is-rgb-list {
						--#{$state}: var(--#{$color});
					} @else {
						--#{$state}-rgb: var(--#{$color}-rgb);
					}
				}
			}
		}

		@each $palette, $accents in $primary-colors {
			&.#{"" + $palette} {
				@for $j from 1 through 2 {
					$is-rgb-list: $j == 2;

					@each $key, $color in $accents {
						@include hex-or-rgb-color($key, $color, $is-light, $is-rgb-list);

						@if $is-rgb-list {
							@include wave-link($key, $color, $is-light);
						}
					}
				}
			}
		}
	}
}
