@use "theme/colors" as *;
@use "theme/private" as *;

// 下面的内容是根据 Sass 映射自动转换为 CSS 属性的逻辑代码，不用动。

@for $i from 1 through 2 {
	$is-light: $i == 1;
	$selector: if($is-light, ":root", ":root.dark");

	#{$selector} {
		color-scheme: if($is-light, light, dark);

		@each $key, $color in $neutral-colors {
			@include hex-and-rgb-color($key, $color, $is-light);
		}

		@each $key, $color in $secondary-colors {
			@include hex-and-rgb-color($key, $color, $is-light);
		}

		@each $palette, $accents in $primary-colors {
			&.#{"" + $palette} {
				@each $key, $color in $accents {
					@include hex-and-rgb-color($key, $color, $is-light);
					@include wave-link($key, $color, $is-light);
				}
			}
		}
	}
}

:root {
	@each $state, $color in $state-colors {
		--#{$state}: var(--#{$color});
		--#{$state}-rgb: var(--#{$color}-rgb);
	}
}
