.ripple-button {
	position: relative;
	overflow: hidden;

	.ripple-circle {
		$size: 20px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: block;
		width: $size;
		height: $size;
		background-color: #0000002d;
		border-radius: 100%;

		:root[data-theme="dark"] & {
			background-color: #ffffff2d;
		}

		~ :where(:not(.ripple-circle)) {
			position: relative;
			z-index: 3;
		}
	}

	/* &.ripple-lighter {
		.ripple-circle {
			background-color: #ffffff2d;
		}

		&:focus.focus-always:not(:hover, :active),
		&:focus-visible:not(:hover, :active),
		&:active:not(:hover),
		&:focus-visible:hover {
			.ripple-circle {
				background-color: #0000002d;
			}
		}
	} */
}
