.ripple-button {
	overflow: hidden;
	position: relative;

	.ripple-circle {
		display: block;
		background-color: #00000048;
		$size: 20px;
		width: $size;
		height: $size;
		position: absolute;
		border-radius: 100%;
		left: 0;
		top: 0;
		z-index: 2;

		~ :not(.ripple-circle) {
			z-index: 3;
			position: relative;
		}
	}

	&.ripple-lighter {
		.ripple-circle {
			background-color: #ffffff48;
		}

		&:focus.focus-always:not(:hover, :active),
		&:focus-visible:not(:hover, :active),
		&:active:not(:hover),
		&:focus-visible:hover {
			.ripple-circle {
				background-color: #00000048;
			}
		}
	}

	&.is-fading {
		content: ""; // 该选择器不包含任何规则，仅仅是为了导出一个模块类名。
	}
}
