/// 标题小号 Montserrat 字体粗斜体。

@for $weight from 1 to 9 {
	@font-face {
		font-weight: $weight * 100;
		font-family: Montserrat;
		font-style: normal;
		src: url("assets/fonts/Montserrat/#{$weight * 100}.woff2") format("woff2");
	}
}

@for $weight from 1 to 9 {
	@font-face {
		font-weight: $weight * 100;
		font-family: Montserrat;
		font-style: italic;
		src: url("assets/fonts/Montserrat/#{$weight * 100}_italic.woff2") format("woff2");
	}
}
