////
/// 在此处重置一切 CSS 默认的垃圾设置。
////

@layer base {
	button {
		margin: 0;
		padding: 0;
		font-size: inherit;
		background: none;
		border: none;
		cursor: pointer;
		appearance: none;
	}

	img,
	video,
	picture {
		display: block;
		vertical-align: bottom;
	}
}
