@use "../theme/functions" as *;

a {
	color: c(accent);
	text-decoration: none;
}

a:not(.lite) {
	color: c(accent);
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		color: c(accent-hover);
		text-decoration: none;
		background: var(--accent-hover-wave-link-background) repeat-x 0 100%;
		background-size: 20px auto;
		animation: wave-move 1s infinite linear;
	}
}

@keyframes wave-move {
	from {
		background-position: 0 100%;
	}

	to {
		background-position: -20px 100%;
	}
}
