@use "../theme/functions" as *;

kbd {
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	color: c(text-color);
	font-size: 100%;
	font-family: monospace, sans-serif;
	line-height: 1.4;
	background-color: c(gray-5);
	border-radius: 4px;
	box-shadow: 0 1.2px 0 1px c(gray-30), 0 2px 0 1px c(gray-40);

	&:active {
		box-shadow: 0 -1.2px 0 1px c(gray-30), 0 -2px 0 1px c(gray-30);
		translate: 0 3.2px;
	}
}
