.ripple-button {
	position: relative;
	overflow: hidden;

	.ripple-circle {
		@include square(1rem);
		@include circle;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: block;
		background-color: c(black, 20%);
		pointer-events: none;

		:global(:root.dark) & {
			background-color: c(white, 20%);
		}

		~ :where(:not(.ripple-circle)) {
			position: relative;
			z-index: 3;
		}
	}

	/* &.ripple-lighter {
		.ripple-circle {
			background-color: c(white, 20%);
		}

		&:focus.focus-always:not(:hover, :active),
		&:focus-visible:not(:hover, :active),
		&:active:not(:hover),
		&:focus-visible:hover {
			.ripple-circle {
				background-color: c(black, 20%);
			}
		}
	} */
}
