.ripple-button {
	position: relative;

	&.ripple-button-cut {
		overflow: clip;
	}

	.ripple-wrapper {
		position: absolute;
		inset: 0;
		z-index: 2;
		overflow: clip;
		border-radius: inherit;
		pointer-events: none;
	}

	.ripple-circle {
		@include square(1rem);
		@include circle;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: block;
		background-color: c(ripple);
		pointer-events: none;
	}

	.ripple-wrapper ~ :where(*),
	.ripple-circle ~ :where(:not(.ripple-circle)) {
		position: relative;
		z-index: 3;
	}
}
