::-webkit-scrollbar {
	@include oval;
	width: 12px;
	height: 12px;

	@for $i from 1 through 2 {
		$is-light: $i == 1;
		$color-scheme: if($is-light, "", ".dark");
		$fill: if($is-light, "black", "white");
		$opacity: 0.4458;

		html#{$color-scheme} & {
			--scrollbar-button-top: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.992188 6.96094C0.854167 6.96094 0.72526 6.9349 0.605469 6.88281C0.485677 6.82812 0.380208 6.75651 0.289062 6.66797C0.200521 6.57682 0.130208 6.47135 0.078125 6.35156C0.0260417 6.22917 0 6.09896 0 5.96094C0 5.85156 0.0143229 5.7513 0.0429688 5.66016C0.0742188 5.56901 0.119792 5.47917 0.179688 5.39062L2.78125 1.60547C2.84896 1.50651 2.92839 1.41927 3.01953 1.34375C3.11068 1.26823 3.20833 1.20573 3.3125 1.15625C3.41927 1.10417 3.53125 1.0651 3.64844 1.03906C3.76562 1.01302 3.88281 1 4 1C4.11719 1 4.23438 1.01302 4.35156 1.03906C4.46875 1.0651 4.57943 1.10417 4.68359 1.15625C4.79036 1.20573 4.88932 1.26823 4.98047 1.34375C5.07161 1.41927 5.15104 1.50651 5.21875 1.60547L7.82031 5.39062C7.88021 5.47917 7.92448 5.56901 7.95312 5.66016C7.98438 5.7513 8 5.85156 8 5.96094C8 6.09896 7.97396 6.22917 7.92188 6.35156C7.86979 6.47135 7.79948 6.57682 7.71094 6.66797C7.6224 6.75651 7.51693 6.82812 7.39453 6.88281C7.27474 6.9349 7.14714 6.96094 7.01172 6.96094H0.992188Z' fill='#{$fill}' fill-opacity='#{$opacity}'/%3E%3C/svg%3E");

			--scrollbar-button-bottom: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 1.86458 0.0260417 1.73568 0.078125 1.61328C0.130208 1.49089 0.200521 1.38542 0.289062 1.29688C0.380208 1.20573 0.485677 1.13411 0.605469 1.08203C0.72526 1.02734 0.854167 1 0.992188 1H7.01172C7.14714 1 7.27474 1.02604 7.39453 1.07812C7.51693 1.13021 7.6224 1.20182 7.71094 1.29297C7.79948 1.38411 7.86979 1.49089 7.92188 1.61328C7.97396 1.73307 8 1.86068 8 1.99609C8 2.10547 7.98438 2.20573 7.95312 2.29688C7.92448 2.38802 7.88021 2.47917 7.82031 2.57031L5.21875 6.35547C5.08073 6.55599 4.90365 6.71354 4.6875 6.82812C4.47396 6.94271 4.24479 7 4 7C3.75521 7 3.52474 6.94271 3.30859 6.82812C3.09505 6.71354 2.91927 6.55599 2.78125 6.35547L0.179688 2.57031C0.119792 2.48177 0.0742188 2.39193 0.0429688 2.30078C0.0143229 2.20964 0 2.10938 0 2Z' fill='#{$fill}' fill-opacity='#{$opacity}'/%3E%3C/svg%3E");

			--scrollbar-button-left: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4C1 3.75521 1.05729 3.52604 1.17188 3.3125C1.28646 3.09635 1.44401 2.91927 1.64453 2.78125L5.42969 0.179687C5.51823 0.119792 5.60807 0.0755208 5.69922 0.046875C5.79036 0.015625 5.89062 0 6 0C6.13542 0 6.26432 0.0260417 6.38672 0.078125C6.50911 0.130208 6.61458 0.201823 6.70312 0.292969C6.79427 0.38151 6.86589 0.485677 6.91797 0.605469C6.97266 0.72526 7 0.854167 7 0.992187L7 7.00781C7 7.14583 6.97266 7.27474 6.91797 7.39453C6.86589 7.51432 6.79427 7.61979 6.70313 7.71094C6.61458 7.79948 6.50911 7.86979 6.38672 7.92187C6.26432 7.97396 6.13542 8 6 8C5.79427 8 5.60417 7.9401 5.42969 7.82031L1.64453 5.21875C1.44401 5.08073 1.28646 4.90495 1.17188 4.69141C1.05729 4.47526 1 4.24479 1 4Z' fill='#{$fill}' fill-opacity='#{$opacity}'/%3E%3C/svg%3E");

			--scrollbar-button-right: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.00781L1 0.992188C1 0.854167 1.02604 0.72526 1.07812 0.605469C1.13281 0.485677 1.20443 0.38151 1.29297 0.292969C1.38411 0.201823 1.48958 0.130208 1.60938 0.078125C1.73177 0.0260417 1.86198 0 2 0C2.20573 0 2.39583 0.0598958 2.57031 0.179687L6.35547 2.78125C6.55859 2.92187 6.71615 3.09896 6.82813 3.3125C6.94271 3.52604 7 3.75521 7 4C7 4.24479 6.94271 4.47396 6.82813 4.6875C6.71615 4.90104 6.55859 5.07812 6.35547 5.21875L2.57031 7.82031C2.39583 7.9401 2.20573 8 2 8C1.86198 8 1.73177 7.97396 1.60938 7.92188C1.48958 7.86979 1.38411 7.79948 1.29297 7.71094C1.20443 7.61979 1.13281 7.51432 1.07813 7.39453C1.02604 7.27474 1 7.14583 1 7.00781Z' fill='#{$fill}' fill-opacity='#{$opacity}'/%3E%3C/svg%3E");
		}
	}

	&:hover {
		background-color: c(main-fg, 3%);
	}

	&:vertical:hover {
		background-image: var(--scrollbar-button-top), var(--scrollbar-button-bottom);
		background-repeat: no-repeat;
		background-position: center top 4px, center bottom 4px;
		background-size: 8px;
	}

	&:horizontal:hover {
		background-image: var(--scrollbar-button-left), var(--scrollbar-button-right);
		background-repeat: no-repeat;
		background-position: left 4px center, right 4px center;
		background-size: 8px;
	}
}

// 滚动条滑块本体
::-webkit-scrollbar-thumb {
	@include oval;
	background-color: transparent;
	border: transparent 5px solid;
	box-shadow: 4px 0 0 4px c(main-fg, 45%) inset;

	&:hover {
		border: transparent 3px solid;
	}
}

// 滚动条滑块本体可滚动范围的背景
::-webkit-scrollbar-track-piece {
	display: none;
}

// 滚动条两端的控制按钮
::-webkit-scrollbar-button:single-button {
	@include square(12px);
	@include oval;

	&:vertical {
		height: 14px;
	}

	&:horizontal {
		width: 14px;
	}

	// TODO: 滚动条两端按钮缺少按下后变小的样式。
}

// 垂直滚动条与水平滚动条右下角相交的角
::-webkit-scrollbar-corner {
	display: none;
}
