@use "../theme/effects" as *;
@use "../theme/functions" as *;

.toolbox-card {
	@include round-large;
	@include card-shadow;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 16px;
	overflow: hidden;
	background-color: c(main-bg);

	@each $pos in left, right {
		.#{$pos} &,
		&.#{$pos} {
			width: 250px;

			@include tablet {
				width: 100%;
			}
		}
	}

	> main {
		padding: 16px;
	}

	> section {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	> .accordion {
		box-shadow: none !important;
	}
}

@mixin videos-grid {
	$min-width: 226px;
	$gap: 12px;

	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax($min-width, 1fr));
	align-items: start;
	justify-content: space-between;
	container: videos-grid / inline-size;

	&:has(.settings-grid-item) {
		gap: $gap;
	}

	> * {
		--column: multi;

		@container videos-grid (width < #{$min-width * 2 + $gap}) {
			--column: single;
		}

		@container videos-grid (width < #{$min-width * 2}) {
			--view: list;
		}
	}
}

.videos-grid {
	@include videos-grid;
}
