@use "../theme/effects" as *;
@use "../theme/functions" as *;

.toolbox-card {
	@include round-large;
	@include card-shadow;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px;
	overflow: hidden;
	background-color: c(main-bg);
	
	@each $pos in left, right {
		.#{$pos} &,
		&.#{$pos} {
			width: 250px;
		}
	}
	
	> main {
		padding: 16px;
	}
}

.videos-grid {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(226px, auto));
	align-items: start;
	justify-content: space-between;
}
