$brand-pink-80: #821c38;
$brand-pink-70: #9e3852; // pressed
$brand-pink-60: #cc5775;
$brand-pink-50: #f06e8e; // normal
$brand-pink-40: #f390a9;
$brand-pink-30: #f8afc1; // hover
$brand-pink-20: #ffd3de; // disabled
$brand-pink-10: #ffedf2;

$brand-blue: #45b3e1;
$brand-green: #4bb530;
$brand-orange: #e09627;
$brand-purple: #b252d4;
$brand-red: #dd1818;
$brand-yellow: #ffca2c;

$light-mode-main-bg: #ffffff;
$light-mode-gray: #e9e9e9;
$light-mode-gray-2: #cccccc;
$light-mode-icon-color-400: #bcb3b6;
$light-mode-icon-color: #797173;
$light-mode-text-color: #212121;
$light-mode-transparent-background-50: #ffffff80;
$light-mode-transparent-background-75: #ffffffbf;
$light-mode-transparent-background-80: #ffffffd9;
$light-mode-controls-surface-overlay-or-hover: #2121210d;
$light-mode-controls-inner-color: #fafafa;
$light-mode-controls-inner-color-85: #f8f8f8d9;
$light-mode-controls-menu-divider: #0000000d;
$light-mode-controls-acrylic-background: #fcfcfcd9;
